$colorSecundario: #ff6384;
$colorPrimario: #ffc0cb;
$fondoForm: #f2f2f2;
$text-button: #ffffff;
$color-texto: #000000;
$text: 'Comic Sans MS', sans-serif;
$textSecundario: 'Lucida Sans', sans-serif;
*{
    margin: 0px;
    padding: 0px;
}
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
} 