.containerHome {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 6vmax repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    .sectionBanner{
        grid-row: 2/4;
        grid-column: 1/9;
        article{
            display: flex;
            align-items: center;
        }
        img{
            width: 50%;
        }
        .articuloBienvenida{
            display: inline-block;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 5vh;
            margin-right: 5vh;
            h2:hover{
                color: $colorSecundario;
            }
            }
        }
    .tarjetasProductos{
        display: flex;
        flex-direction:row;
        grid-row: 4/6;
        grid-column:1/9;
        justify-content: center;
        .productos{
            width: 30%;
            align-items:center;
            margin: 1%;
        }
        .imagenesProductos{
            width: 100%;
        } 
    }
    .buttonVerProductos{
        grid-row: 6/7;
        grid-column: 4/6;
        .buttonProductos{
        background-color: $colorSecundario;
        color: $text-button;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        }
    }
}